body {
    padding-top: 50px;
}

.app-title {
    color: #adadad;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.modal__header {
  text-align: center;
  padding-bottom: 20px;
}

.select-league-form {
    text-align: center;
}

.form-label {
    width: 100px;
}

.leagues-dropdown {
    width: 300px;
    padding: 20px;
    height: 40px;
    line-height: 20px;
    margin: 5px 10px;
}

.fetch {
    /* padding: 20px; */
    height: 40px;
    line-height: 20px;
    margin: 5px 10px;
}

.select-league-form {
    display: flex;
    text-align: center;
    justify-content: center;
}

.classification-table {
    margin-top: 60px;
}

.rt-tr {
    text-align: center;
}

.rt-thead {
    font-weight: bold;
    height: 40px;
    padding: 5px;
}

.rt-thead, .carbon-table__header {
    text-align: center;
    background-color: #EBEBEB;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
}

.ReactTable .rt-thead .rt-resizable-header {
    overflow: hidden;
}

.club-name {
    text-align: center;
}

carbon-table-header.squad-table__name.col {
    padding: 5px 10px;
}

tr.carbon-table-row.row {
    padding: 2px 10px;
}

td.carbon-table-cell {
    padding: 2px 10px;
}

